*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utility*/
.bg_white:hover{
    background-color: rgba(255, 255, 255, 0.216);
    cursor: pointer;
}

/*header*/
header{
    height: 70px;
}
header #logo_mobile{
    width: 50px;
}

header .dropdown-toggle::after{
    display: none;
}

header li{
    font-size: small;
}

header #search::placeholder{
    font-size: medium;
}

.navbar #search{
    border-left: none;
}

header i:hover{
    cursor: pointer;
}

/*main*/
/*sidebar*/
.sidebar{
    height: calc(100vh - 70px);
    width: 70px;
    background-color: #051e34;
    background-image: url("./img/sidebar-bg.png");
    overflow: auto;
    color: white;
}

/*all*/
.all{
    height: calc(100vh - 69.6px);
    width: 100% ;
    overflow: auto;
}

.new_student{
    color: white;
}

.class{
    color: black;
}

.class .table th{
    font-size: small;
}

.class .table tr{
    cursor: pointer;
}

.class .table .fa-code{
    color: white;
    background-color: #eb654c;
}

.class .table .fa-pencil, .class .table .fa-trash{
    color: gray;
    font-size: large;
    border: 2px solid gray;
    border-radius: 5px;
}

.table .fa-pencil:hover, .table .fa-trash:hover{
    cursor: pointer;
    color: white;
    background-color: gray;
}

.todo ul:hover{
    cursor: pointer;
}

/*responsive*/
@media screen and (max-width:768px){

    .new_student .offcanvas-end{
        width: 100%;
    }

}


@media screen and (min-width:992px){

    .sidebar{
        width: 150px;
    }

    .all{
        width: calc(100% - 150px);
    }

    .new_student .offcanvas-end{
        width: 50%;
    }

    
}