*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header{
    height: 70px;
}
header #logo_mobile{
    width: 50px;
}

header .dropdown-toggle::after{
    display: none;
}

header li{
    font-size: small;
}

header #search::placeholder{
    font-size: medium;
}

.navbar #search{
    border-left: none;
}

/*main*/
/*sidebar*/
.sidebar{
    height: calc(100vh - 70px);
    width: 70px;
    background-color: #051e34;
    background-image: url("./img/sidebar-bg.png");
    overflow: auto;
    color: white;
}

/*all*/
.all{
    height: calc(100vh - 69.6px);
    width: 100% ;
    overflow: auto;
}

.new_student{
    color: white;
}

/*footer*/

@media screen and (min-width:992px){

    .sidebar{
        width: 150px;
    }

    .all{
        width: calc(100% - 150px);
    }

    .new_student .offcanvas-end{
        width: 800px;
    }

}